// When there is no sidebar
.no-sidebar {
  .site {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em 1em;
  }

  .site-header {
    grid-column: 2/-2;
  }

  .site-content {
    grid-column: 3/7;
    width: 100%;
  }

  .site-footer {
    grid-column: 3/8;
  }
}

// When there is a sidebar
.has-sidebar {
  .site {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em 1em;
  }

  .site-header {
    grid-column: 2/-2;
    column: 2;
  }

  .sidebar {
    overflow: hidden;
  }

  .sidebar1 {
    grid-column: 1/2;
    grid-row: 3;

    width: 20%;
  }

  .site-content {
    grid-column: 3/7;
    width: 100%;
    grid-row: 3;
  }

  .sidebar2 {
    grid-column: -2/-1;
    grid-row: 3;

    width: 20%;
  }

  .site-footer {
    grid-column: 3/8;
  }
}
