button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background-color: $color__link;
  color: rgb(255, 255, 255);
  @include font-size(1);
  line-height: 1;
  padding: 0.5em 1em;

  &:hover {
	border-color: #ccc #bbb #aaa;
  }

  &:active,
  &:focus {
	border-color: #aaa #bbb #bbb;
  }
}
