figure {
  margin: 2em auto;
  max-width: 60vw;

  img {
	width: 100%;
	// object-fit: contain;
  }

  figcaption {
	color: $color__figure-text;
	font-size: 0.9em;
  }

  figcaption::before {
	counter-increment: figure_count;
	content: 'Figure ' counter(figure_count) ': ';
  }
}

.blocks-gallery-item__caption {
  &:before {
	content: '';
  }
}

.post-thumbnail {
  width: 100%;
  height: auto;
  margin: 0;

  img {
	width: 100%;
	height: auto;
  }
}
