.site-footer {
  position: relative;
  padding: 1em;
  text-align: center;

  a {
	font-weight: 700;
	color: $color__link;
	text-decoration: none;

	&:hover,
	&:focus {
	  text-decoration: underline;
	}
  }

  @media screen and (min-width: 24.15em) {
	padding: 1em 2em;
  }
}

.site-footer__wrap {
  // max-width: $size__max-width;
  margin: 0 auto;

  @media screen and (min-width: 43.75em) {
	display: flex;
	justify-content: space-between;
  }

  /*
	NOTE:
		this works when inlined on devtools or added
		to custom CSS in the customizer but it doesn't
		work here. I've movoed it to the root stylesheet
		where it works

		Leaving it here while I research why it doesn't work
		as designed

  .social-links-menu {
	width: 50%;
	list-style-type: none;
	display: flex;
	justify-content: space-between;

	.icon {
	  fill: black;
	  height: 2em;
	  width: 2em;
	}
  }*/
}
