// :root {
//   --bp-small: 24.15;
//   --small-query: calc(var(--bp-small) * 1em);
//   --bp-medium: 43.75;
//   --medium-query: calc(var(--bp-medium) * 1em);
//   --bp-large: 60.25;
//   --large-query: calc(var(--bp-large) * 1em);
//   --bp-xlarge: 75;
//   --xlarge-query: calc(var(--bp-xlarge) * 1em);
// }

.header-image {
  grid-column: 1/-1;
  margin: 0;
  max-height: 65vh;
  max-width: 100vw;
  overflow: hidden;

  img {
    height: auto;
    width: 100vw;
  }
}

// .site-header {
//   position: relative;
//   padding: 1em;
//   color: $color__text-main;
//   background-color: $color__background-body;

//   @media screen and (max-width: 24.15em) {
//     padding: 0 1em;
//   }

//   .nav-menu li {
//     display: flex;
//     flex-flow: row wrap;
//     padding: .25em;
//   }
// }

@media screen and (min-width: 43.75em) {
  .site-header {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .custom-logo-link {
    margin-right: 1em;
    margin-inline-end: 1em;
    flex: 1 0 auto;

    img {
      height: 100px;
      width: auto;
    }
  }

  .site-branding {
    width: 35%;
    margin: 0 1em;

    display: flex;
    flex-flow: row;
  }

  .main-navigation {
    width: 25%;

    ul {
      width: fit-content;
      align: end;
    }
  }

  ======= // @media screen and (min-width: 43.75em) {
  //   .site-header {
  //     display: flex;
  //     justify-content: space-around;
  //     align-content: center;
  //   }

  //   .site-branding {
  //     width: 40%;
  //   }

  //   .main-navigation {
  //     align-self: center;
  //     width: 50%;
  //   }
  >>>>>>>last known good image header //   .nav-menu li {
  //     display: block;
  //     padding: .5em;
  //   }
  // }

  <<<<<<< HEAD .site-branding {
    margin-right: 3em;
  }

  .site-branding__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
