article {
  counter-reset: figure_count;
}

li code,
p code {
  background-color: rgba(238, 238, 238, 0.4);
  display: inline;
  border: 2px 3px;
}

/* First Paragraph Lede */
// .site-content {
//   p:first-of-type {
//     font-size: 150%;
//   }
// }
