article {
  counter-reset: figure_count;
  content-visibility: auto;
}

li code,
p code {
  background-color: rgba(238, 238, 238, 0.6);
  border: 2px 3px;
  display: inline;
  font-size: .75em;
}

/* First Paragraph Lede */
// .site-content {
//   p:first-of-type {
//     font-size: 150%;
//   }
// }
