.message {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  padding: .5em;
}

.info {
  background-color: rgba(173, 216, 230, .2);
}

.warning {
  background-color: rgba(255, 255, 224, .2);
}

.danger {
  background-color: rgba(255, 85, 0, .2);
}
