.entry-meta__content {
  font-size: 0.8em;
  list-style-type: none;
  margin-left: -2.25em;

  display: flex;
  flex-flow: row wrap;

  .entry-meta__item {
    flex: 0 0 auto;

    span {
      font-weight: 700;
    }
  }
}

@supports (gap: 2em) {
  .entry-meta__content {
    font-size: 0.8em;
    list-style-type: none;
    margin-left: -2.25em;

    display: flex;
    flex-flow: row wrap;
    gap: 2em;

    .entry-meta__item {
      flex: 0 0 auto;

      span {
        font-weight: 700;
      }
    }
  }
}
